.footer {
  height: 30px;
  background-color: rgb(0, 119, 158);
  box-shadow: 0 -5px 10px rgb(76, 167, 228);
}
.footer2 {
  height: 60px;
  background-color: rgb(65, 65, 65);
  box-shadow: 0 -5px 10px rgb(55, 83, 158);
}
.footer3 {
  height: 30px;
  background-color: rgb(42, 42, 42);
  box-shadow: 0 -5px 10px rgb(58, 58, 58);
}
.mains {
  position: absolute;
  bottom: 0;
  position: fixed;
  z-index: 12;
}
