.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;

  min-height: 500px;
}
.main input {
  max-width: 400px;
  width: 100%;
  min-width: 149px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 5px gray;
  font-size: 15px;
  text-align: center;
}
.show {
  display: flex;
  align-items: center;
  color: gray;
  max-width: 400px;
  width: 100%;
  min-width: 149px;
  justify-content: space-between;
}
.show input {
  flex: 2 2 140px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 5px gray;
  max-width: 380px;
  font-size: 15px;
  text-align: center;
}

.labels {
  flex: 1 2 10px;
  cursor: pointer;
  max-width: 10px;
}
.main button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(60, 146, 175);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
